[submodule "music-playlist-api"]
	path = music-playlist-api
	url = https://github.com/grauulzz/music-playlist-api.git
[submodule "advertising-predicate-evaluator"]
	path = advertising-predicate-evaluator
	url = https://github.com/grauulzz/advertising-predicate-evaluator.git
[submodule "kindle-publishing-service"]
	path = kindle-publishing-service
	url = https://github.com/grauulzz/kindle-publishing-service.git
[submodule "promise-fulfillment-client"]
	path = promise-fulfillment-client
	url = https://github.com/grauulzz/promise-fulfillment-client.git
